nav a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(250, 66, 127);
}
body {
  background: linear-gradient(to bottom right, #4c1d95, #9333ea, #ec4899);
  color: white;
}
