nav a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  
  color: rgb(250, 66, 127);
}
body {
  background: linear-gradient(to bottom right, #4c1d95, #9333ea, #ec4899);
  color: white;
}

.add-artwork-form {
  padding: 2rem;
  border-radius: 12px;
  background: linear-gradient(-45deg, #00237d, #9333ea, #ec4899);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.community-background {
  background: linear-gradient(
    135deg,
    #1e0b47,
    #4b1fa6,
    #7b2cbf,
    #c026d3
  );
  
  animation: communityGradient 10s ease infinite;

}

@keyframes communityGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
