@plugin "daisyui";
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.merriweather-normal {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
