@plugin "daisyui";
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.merriweather-normal {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
:root[data-theme="light"] {
  --nav-bg: #0f172a;
  --page-bg: #ffffff;
}

:root[data-theme="dark"] {
  --nav-bg: #020101;
  --page-bg: #0f0f0f;
}
